---
import Button1 from '../components/buttons/Button1.astro'
---

<article class="outer-container">
    <div class="inner-container">
        <div class="item--1">
            <h1 class="pr-14">
                Lorem Ipsum Dolor and Amet Qui Provident Velit
            </h1>
            <p class="pr-10">
                Sed dolorum possimus sed illo consectetur At asperiores
                consequatur qui officiis architecto ut cumque voluptatibus.
            </p>
            <div>
                <Button1>Neem contact op met mij</Button1>
            </div>
        </div>
        <div class="item--2"><div class="ml-14 picture"></div></div>
    </div>
</article>

<style>
    .outer-container {
        container: outerContainer / inline-size;
        max-width: var(--outer-container-max-width);
        margin: auto;
    }

    .inner-container {
        max-width: var(--inner-container-max-width);
        padding-top: 10rem;
        padding-bottom: clamp(6rem, 18vw, 8rem);
        overflow: hidden;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }

    .item--1 {
        flex: 1;
        padding: 0 1rem;
        justify-content: center;
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        align-items: start;
        overflow: visible;
    }

    .item--1 > * {
        @apply pl-4;
    }

    h1 {
        font-size: clamp(2rem, 5vw, 2.5rem);
        font-weight: 500;
        line-height: 1.3;
        position: relative;
        color: var(--title-color);
    }

    p {
        font-size: 1.125rem;
        line-height: 1.625;
        font-weight: 300;
        color: var(--text-color);
    }

    .item--2 {
        flex: 1;
    }

    .picture {
        height: 100%;
        width: 100%;
        background-color: rgba(255, 0, 0, 0.15);
    }

    @container outerContainer (width < 40rem) {
        .item--1 {
            min-width: 100%;
            padding: 0;
        }

        .item--2 {
            min-width: 100%;
            padding: 0 1rem;
        }

        h1 {
            width: 100%;
            padding: 0 1rem;
            font-size: clamp(2.5rem, 10vw, 3rem);
        }

        p {
            padding: 0 1rem;
        }

        .inner-container {
            padding-top: 12rem;
            padding-bottom: 8rem;
        }
    }

    .contact {
        border: 2px solid rgba(198, 198, 198, 0.298);
    }

    .services {
        background-color: #046aff;
        color: white;
    }
</style>
