---

---

<div class="inner-container fixed left-0 top-0 right-0 mx-auto">
    <div class="px-8 absolute left-0 right-0 top-0 overflow-hidden">
        <nav>
            <ul class="flex h-full items-center py-4 justify-between h-22">
                <li>
                    <a><div>Logo</div></a>
                </li>
                <li class="h-full">
                    <ul class="h-full items-center flex gap-4">
                        <li class="h-full">
                            <a class="inline-block h-full px-3 py-2">Diensten</a
                            >
                        </li>
                        <li class="h-full">
                            <a class="inline-block h-full px-3 py-2"
                                >Trainingen</a
                            >
                        </li>
                        <li class="h-full">
                            <a class="inline-block h-full px-3 py-2">Over mij</a
                            >
                        </li>
                    </ul>
                </li>
                <li class="h-full">
                    <button class="h-full px-3 py-2 rounded">Contact mij</button
                    >
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    .outer-container {
        width: 100%;
        max-width: var(--outer-container-max-width);
    }

    .inner-container {
        max-width: var(--inner-container-max-width);
        z-index: 1000000;
        background-color: white;
    }

    nav {
        background-color: white;
    }

    button {
        background-color: black;
        color: white;
    }
</style>
